
    <article class="content clearfix">
        <% @twitters.reverse_each do |twitter_db| %>
            <table class="content_table">
                <tr>
                    <th rowspan="2"><%= image_tag 'acount/profile_logo.png', :size => '100x100' %></td>
                    <td class="content_top">
                        <ul>
                        <li class="acount_name">くりりん＠アウトプット</li>
                        <li><%= link_to '詳細', twitter_db_path(twitter_db.id) %></li>
                        <li><%= link_to "編集", edit_twitter_db_path(twitter_db.id) %></li>
                        <li><%= link_to '削除', twitter_db_path(twitter_db.id), method: :delete %></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><%= twitter_db.content %></td>
                </tr>
            </table>
        <% end %>
    </article>
